{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h2>Add</h2>
</div>

<div class="container">
	<div class="row">
		<span class="col-sm"></span>
		<a href="/add_item"><button type="button" class="btn btn-outline-dark col-sm text-center" style="min-width: 100px">ITEM</button></a>
		<span class="col-sm"></span>
		<a href="/add_canteen"><button type="button" class="btn btn-outline-dark col-sm text-center" style="min-width: 100px">CANTEEN</button></a>
		<span class="col-sm"></span>
	</div>
</div>
{% endblock %}