{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h2>Add canteen</h2>
  <form class="form-auth" method="post">
    <input type="text" name="name" class="form-input btn-block" placeholder="Name" maxlength=256 autofocus required>
    <input type="text" name="address" class="form-input btn-block" placeholder="Address" maxlength=256 required>
    <input type="text" name="description" class="form-input btn-block" placeholder="Description" maxlength=256 required>
    <input type="text" name="deadline" class="form-input btn-block" placeholder="Deadline" maxlength=256 required>
    <div class="input-group mt-2 mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="select_operator">Operator</label>
      </div>
      <select class="custom-select" id="select_operator" name="operator">
        {% for operator in operators %}
        <option value="{{ operator.id }}">{{ operator.meno }} {{ operator.priezvisko }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Add">
  </form>
</div>
{% endblock %}

