{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h2>Add item</h2>
  <form class="form-auth" method="post">
  	<input type="text" name="name" class="form-input btn-block" placeholder="Name" maxlength=256 required>
    <input type="text" name="type" class="form-input btn-block" placeholder="Type" maxlength=256 autofocus required>
    <input type="text" name="description" class="form-input btn-block" placeholder="Description" maxlength=256>
    <input type="text" name="alergens" class="form-input btn-block" placeholder="Alergens" maxlength=256>
    <input type="text" name="price" class="form-input btn-block" placeholder="Price" maxlength=256 required>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Add">
  </form>
</div>
{% endblock %}
