{% extends "layout.html" %}
{% block content %}
<div class="jumbotron bg-light">
  <img src="{{ canteen.img_src }}" class="mb-5" width="150" height="150" alt="Building photo">
  <h2>{{ canteen.nazov }}</h2>
  <p class="text-muted">{{ canteen.adresa }}</p>
  <p>{{ canteen.description }}</p>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}

