<!-- Arguments: items (tuple (food, item, canteen)), total (int), user (User) -->
{% extends "layout.html" %}
{% block content %}
<div class="jumbotron bg-light">
  <h2 class="mb-5">Checkout</h2>
  <table class="table mb-5">
    <thead class="thead-light">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Type</th>
        <th scope="col">Canteen</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for food, item, canteen in items %}
        <tr>
          <th scope="row">{{ food.name }}</th>
          <td>{{ food.type }}</td>
          <td><a href="/canteen/{{ canteen.id }}" class="text-primary" >{{ canteen.name }}</a></td>
          <td>{{ '%.2f' | format(food.price | round(2, "ceil")) }} &euro;</td>
          <td>{{ item.qty }}</td>
          <td>{{ '%.2f' | format((item.qty * food.price)|round(2, "ceil")) }} &euro;</td>
        </tr>
      {% endfor %}
      <tr class="thead-light">
        <th scope="row">Total</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{ '%.2f' | format((total)|round(2, "ceil")) }} &euro;</th>
      </tr>
    </tbody>
  </table>
  <form method="POST">
    <div class="form-group row">
      <label for="input-email" class="col text-right">Contact email</label>
      <input type="text" name="email" id="input-email" class="form-control mx-sm-3 col" {% if user %}value="{{ user.email }}"{% endif %} required>
      <div class="col"></div>
    </div>
    <div class="form-group row">
      <label for="input-phone" class="col text-right">Contact phone</label>
      <input type="text" name="phone" id="input-phone" class="form-control mx-sm-3 col" {% if user %}value="{{ user.phone }}"{% endif %}  required>
      <div class="col"></div>
    </div>
    <div class="form-group row">
      <label for="input-name" class="col text-right">Name</label>
      <input type="text" name="name" id="input-name" class="form-control mx-sm-3 col" {% if user %}value="{{ user.name }}"{% endif %}  required>
      <div class="col"></div>
    </div>
    <div class="form-group row">
      <label for="input-surname" class="col text-right">Surname</label>
      <input type="text" name="surname" id="input-surname" class="form-control mx-sm-3 col" {% if user %}value="{{ user.surname }}"{% endif %}  required>
      <div class="col"></div>
    </div>
    <div class="form-group row">
      <label for="input-address" class="col text-right">Address</label>
      <input type="text" name="address" id="input-address" class="form-control mx-sm-3 col" {% if user %}value="{{ user.address }}"{% endif %}  required>
      <div class="col"></div>
    </div>
    <div class="form-group row">
      <label for="input-postcode" class="col text-right">Postcode</label>
      <input type="text" name="postcode" id="input-postcode" class="form-control mx-sm-3 col" {% if user %}value="{{ user.postcode }}"{% endif %}  required>
      <div class="col"></div>
    </div>
    <div class="form-group row">
      <label for="input-city" class="col text-right">City</label>
      <input type="text" name="city" id="input-city" class="form-control mx-sm-3 col" {% if user %}value="{{ user.city }}"{% endif %}  required>
      <div class="col"></div>
    </div>
    <h3 class="pt-4">
      Order price: {{ '%.2f' | format((total)|round(2, "ceil")) }} &euro;
    </h3>
    <div class="row justify-content-center pt-4">
      <div class="col-auto">
        <a href="/shopping-cart" class="btn btn-secondary btn-lg">Back to cart</a>
      </div>
      <div class="col-auto">
        <input type="submit" class="btn btn-dark btn-lg" value="Confirm">
      </div>
    </div>
  </form>
</div>
{% endblock %}

