{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h2>Create plan</h2>
  <form class="form-auth" method="post">
    <input type="text" name="name" class="form-input btn-block" placeholder="Name of driver" maxlength=256 required autofocus>
    <input type="text" name="surname" class="form-input btn-block" placeholder="Surname of driver" maxlength=256 required autofocus>
    <input type="text" name="region" class="form-input btn-block" placeholder="Region" maxlength=256 required>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create">
  </form>
</div>
{% endblock %}

