<!-- Arguments: items (list of tuple (order, user, price, driver)) -->
{% extends "layout.html" %}
{% block content %}
  <div class="jumbotron bg-light">
    <h2 class="mb-5">Delivery management</h2>
    <table class="table mb-5">
      <thead class="thead-light">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">User</th>
        <th scope="col">Price</th>
        <th scope="col">Created on</th>
        <th scope="col">Status</th>
        <th scope="col">Driver</th>
        <th scope="col"></th> <!-- Action -->
      </tr>
      </thead>
      <tbody>
      {% for order, user, price, driver in items %}
        <tr>
          <td>{{ order.id }}</td>
          <td>{% if user %}{{ user.email }}{% else %}Unregistered{% endif %}</td>
          <td>{{ '%.2f' | format(price | round(2, "ceil")) }}&nbsp;&euro;</td>
          <td>{{ int_to_time(order.order_time) }}</td>
          <td>
            <form id="form-set-status-{{ order.id }}" action="/update-order" method="POST">
              <input type="hidden" name="order_id" value="{{ order.id }}"/>
            </form>
            <select name="status" form="form-set-status-{{ order.id }}" onchange="this.form.submit()"
              {% if order.status == "Created" %}class="custom-select border-danger text-danger" disabled
              {% elif order.status == "Confirmed" %}class="custom-select border-primary text-primary"
              {% elif order.status == "En route" %}class="custom-select border-success text-success"
              {% elif order.status == "Delivered" %}class="custom-select border-muted text-muted"
              {% elif order.status == "Canceled" %}class="custom-select border-muted text-muted" disabled
              {% endif %}>
              <option value="Created" {% if order.status == "Created" %} selected {% endif %} disabled >
                Created
              </option>
              <option value="Confirmed" {% if order.status == "Confirmed" %} selected {% endif %} >
                Confirmed
              </option>
              <option value="En route" {% if order.status == "En route" %} selected {% endif %} >
                En route
              </option>
              <option value="Delivered" {% if order.status == "Delivered" %} selected {% endif %} >
                Delivered
              </option>
              <option value="Canceled" {% if order.status == "Canceled" %} selected {% endif %} disabled >
                Canceled
              </option>
            </select>
          </td>
          <td>
            [{{ driver.id }}] {{ driver.name }} {{ driver.surname }}
          </td>
          <td>
            <a href="/view-order?id={{ order.id }}" class="mx-3">
              <img src="../static/img/view-icon.png" onmouseover="this.src='../static/img/view-icon-hover.png';"
                   onmouseout="this.src='../static/img/view-icon.png';" class="mt-1" width="25" height="25"
                   alt="View order" title="View order">
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
