{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h5 class="mb-4">{{ canteen.name }}</h5>
  <img src="{{ canteen.img_src }}" class="align-middle mb-4" width="200" height="200" alt="Canteen img">
</div>
<div class="container text-center">
  <div class="text-danger" style="opacity: 0.75">
    Since we only support images on the Internet,<br>please enter the image's online address.
  </div>
  <form class="form-auth" method="post">
    <input type="text" name="source" class="form-input btn-block" placeholder="Source" maxlength=256 autofocus required>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Change">
  </form>
</div>
{% endblock %}
