{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h5 class="mb-4">Choose a meal prepared by</h5>
  <img src="../static/img/panda-img.png" class="align-middle mb-4" width="200" height="200" alt="Hungry Panda Logo">
  <h3>Hungry Panda</h3>
</div>
<div class="container">
  <div class="list-group">
    {% for item in items %}
      <a href="/canteen/{{ item.id }}" class="list-group-item justify-content">
        <img src="{{ item.img_src }}" class="float-left mr-4" width="150" height="150" alt="Building photo">
        <div>
          <h4 class="list-group-item-heading">{{ item.nazov }}</h4>
          <p class="list-group-item-text">{{ item.adresa }}</p>
          <p class="list-group-item-text">{{ item.description }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
