{% extends 'base.html' %}

{% block head %}

        <title>IIS 2019</title>

{% endblock %}



{% block body %}
        <div class="content">
                <h1>Úvodná strana</h1>

                {% if users|length < 1 %}
                <h4>There are no tasks. Create one below!</h4>
                {% else %}

                <table>
                        <tr>
                                <th>Meno</th>
                                <th>Priezvisko</th>
                        </tr>
                        {% for user in users %}
                        <tr>
                                <td>{{ user.meno }}</td>
                                <td>{{ user.priezvisko }}</td>
                        </tr>
                        {% endfor %}
                </table>
                {% endif %}
                        <button><a href="/showSignUp">SIGN UP</a></button>
        </div>
{% endblock %}
