<!doctype html>
<html lang="en-US">

<head>

  <!-- Reqired meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Hungry Panda</title>

  <!-- Libraries -->
  <link rel="stylesheet" href="../static/css/layout.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="../static/img/favicon.ico">

</head>

<body>
  <!-- Navigation -->
  <div class="bg-light custom-header" style="height: 14vh">
    <div class="container">
      <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img src="../static/img/favicon.ico" class="align-middle" width="80" height="80" alt="Hungry Panda Logo" title="Hungry Panda">
          Hungry Panda
        </a>
        <ul class="navbar-nav ml-auto">
          {% if g.user %}
          <li clas="nav-item mx-4">
            <a class="nav-link mx-4 text-primary" href="/profile">{{ g.user }}</a>
          </li>
          <li clas="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li clas="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li clas="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% if g.driver %}
          <li clas="nav-item">
            <a class="nav-link" href="/driver_plan">Your regions</a>
          </li>
          {% endif %}
          {% if g.operator or g.admin %}
          <li clas="nav-item">
            <a class="nav-link" href="/create_plan">Create plan</a>
          </li>
          <li clas="nav-item">
            <a class="nav-link" href="/manage_orders">Manage orders</a>
          </li>
          <li clas="nav-item">
            <a class="nav-link" href="/manage_canteen">Manage canteens</a>
          </li>
          {% if g.admin %}
          <li clas="nav-item">
            <a class="nav-link" href="/manage_users">Manage users</a>
          </li>
          {% endif %}
          {% endif %}
          <li clas="nav-item">
            <a href="/shopping-cart" class="mx-3 pt-3">
              <img src="../static/img/shopping-cart.png" onmouseover="this.src='../static/img/shopping-cart-hover.png';" onmouseout="this.src='../static/img/shopping-cart.png';" width="30" height="30" alt="Shopping cart" title="Shopping cart">
            </a>
          </li>
          {% else %}
          <li clas="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li clas="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
          <li clas="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

  <!-- Page content -->
  <div class="container" style="min-height: 69.5vh">
  {% block content %}{% endblock %}
  </div>

  <!-- Footer -->
  <footer class="page-footer row-fluid pt-5 bg-light" style="height: 10vh">
    <p class="m-0 text-center">Copyright &copy; 2019 Šimon Šesták, David Hás, Martina Jendrálová</p>
  </footer>

</body>

</html>

