{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h2>Log in</h2>
  <form class="form-auth" method="post">
    <input type="text" name="email" class="form-input btn-block" placeholder="Email" maxlength=256 required autofocus>
    <input type="password" name="password" class="form-input btn-block" placeholder="Password (at least 6 characters)" maxlength=256 required>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Log in">
  </form>
</div>
{% endblock %}

