{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
	<h3>Items</h3>
</div>
<div class="container text-center">
  <a href="/add_item"><button type="button" class="btn btn-outline-dark col-sm text-center mb-3" style="width: 150px">Create new</button></a>
  <div class="list-group">
    <div class="list-group-item">
  		<div class="row">
  			<div class="font-weight-bold col-sm text-center">Name</div>
  			<div class="font-weight-bold col-sm text-center">Type</div>
        <div class="font-weight-bold col-sm text-center">Description</div>
        <div class="font-weight-bold col-sm text-center">Allergens</div>
        <div class="font-weight-bold col-sm text-center">Price</div>
        	<div class="font-weight-bold col-sm text-center" style="max-width: 85px"></div>
      </div>
    </div>
    {% for item in items %}
    <div class="list-group-item">
      <div class="row">
  			<div class="col-sm text-center">{{ item.name }}</div>
        <div class="col-sm text-center">{{ item.type }}</div>
        <div class="col-sm text-center">{{ item.description }}</div>
        <div class="col-sm text-center">{{ item.allergens }}</div>
        <div class="col-sm text-center">{{ item.price }}</div>
        <a href="/remove_item/{{ item.id }}"><button type="button" class="btn btn-outline-dark col-sm text-center ml-1">Remove</button></a>
  		</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
