{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
	<h3>Users</h3>
</div>
<div class="container">
  <div class="list-group">
    <div class="list-group-item">
  		<div class="row">
  			<div class="font-weight-bold col-sm text-center">Name</div>
  			<div class="font-weight-bold col-sm text-center">Surname</div>
        <div class="font-weight-bold col-sm text-center">Email</div>
        <div class="font-weight-bold col-sm text-center">Phone</div>
        <div class="font-weight-bold col-sm text-center">Address</div>
        <div class="font-weight-bold col-sm text-center" style="max-width: 50px"></div>
        <div class="font-weight-bold col-sm text-center" style="max-width: 90px"></div>
      </div>
    </div>
    {% for user in users %}
    <div class="list-group-item">
      <div class="row">
  			<div class="col-sm text-center">{{ user.name }}</div>
        <div class="col-sm text-center">{{ user.surname }}</div>
        <div class="col-sm text-center"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
        <div class="col-sm text-center"><a href="tel:{{ user.cislo }}">{{ user.phone }}</a></div>
        <div class="col-sm text-center">{{ user.address }}</div>
        <a href="/edit_user/{{ user.id }}"><button type="button" class="btn btn-outline-dark col-sm text-center">Edit</button></a>
        {% if g.user_id != user.id %}
        <a href="/remove_user/{{ user.id }}"><button type="button" class="btn btn-outline-dark col-sm text-center ml-1">Remove</button></a>
        {% else %}
        <div class="font-weight-bold col-sm text-center" style="max-width: 85px"></div>
        {% endif %} 
  		</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}