<!-- Arguments: TODO -->
{% extends "layout.html" %}
{% block content %}
<div class="jumbotron bg-light">

  <h2 class="mb-5">Manage orders</h2>

  <nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-unassigned-tab" data-toggle="tab" href="#nav-unassigned" role="tab" aria-controls="nav-unassigned" aria-selected="true" >Unassigned orders</a>
      <a class="nav-item nav-link"        id="nav-assigned-tab"   data-toggle="tab" href="#nav-assigned"   role="tab" aria-controls="nav-assigned"   aria-selected="false">Assigned orders</a>
    </div>
  </nav>

  <div class="tab-content py-3 px-3 px-sm-0">
    <div class="tab-pane fade show active" id="nav-unassigned" role="tabpanel" aria-labelledby="nav-unassigned-tab">
      Unassigned.
    </div>
    <div class="tab-pane fade" id="nav-assigned" role="tabpanel" aria-labelledby="nav-assigned-tab">
      Assigned.
    </div>
  </div>

</div>
{% endblock %}

