{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
	<div>
		<h4 class="list-group-item-heading">Name</h4>
		<p class="list-group-item-text">{{ user.meno }}</p>
		<h4 class="list-group-item-heading">Surname</h4>
		<p class="list-group-item-text">{{ user.priezvisko }}</p>
		<h4 class="list-group-item-heading">Address</h4>
		<p class="list-group-item-text">{{ user.adresa }}</p>
		<h4 class="list-group-item-heading">Phone number</h4>
		<p class="list-group-item-text">{{ user.cislo }}</p>
		<h4 class="list-group-item-heading">Email</h4>
		<p class="list-group-item-text">{{ user.email }}</p>
		<h4 class="list-group-item-heading"><a href="/orders">My orders</a></h4>
	</div>
</div>
{% endblock %}