<!-- Arguments: items (tuple (food, item, canteen)), total (int) -->
{% extends "layout.html" %}
{% block content %}
  <div class="jumbotron bg-light">
    <h2 class="mb-5">Shopping cart</h2>
    <table class="table mb-5">
      <thead class="thead-light">
      <tr>
        <th scope="col" style="width: 30%">Item</th>
        <th scope="col" style="width: 10%">Type</th>
        <th scope="col" style="width: 20%">Canteen</th>
        <th scope="col" style="width: 10%">Price</th>
        <th scope="col" style="width: 10%">Quantity</th>
        <th scope="col" style="width: 10%">Total</th>
        <th scope="col" style="width: 10%"></th> <!-- Remove item -->
      </tr>
      </thead>
      <tbody>
      {% for food, item, canteen in items %}
        <tr>
          <th scope="row">{{ food.name }}</th>
          <td>{{ food.type }}</td>
          <td><a href="/canteen/{{ canteen.id }}" class="text-primary" >{{ canteen.name }}</a></td>
          <td>{{ '%.2f' | format(food.price | round(2, "ceil")) }}&nbsp;&euro;</td>
          <td>
            <input type="text" form="form-recalculate" name="{{ food.id }}" class="w-50 form-input text-center" maxlength=32
                   value="{{ item.qty }}" required>
          </td>
          <td>{{ '%.2f' | format((item.qty * food.price)|round(2, "ceil")) }}&nbsp;&euro;</td>
          <td>
            <form action="/remove-from-cart" method="POST">
              <input type="hidden" name="food_id" value="{{ food.id }}"/>
              <button type="submit" class="btn btn-secondary btn-sm">Remove</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      <tr class="thead-light">
        <th scope="row">Total</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{ '%.2f' | format((total)|round(2, "ceil")) }}&nbsp;&euro;</th>
        <th></th>
      </tr>
      </tbody>
    </table>
    {% if items %}
      <div class="row justify-content-end">
        <div class="col-auto">
          <form id="form-recalculate" action="/update-cart" method="POST">
            <button type="submit" class="btn btn-secondary btn-lg">Recalculate</button>
          </form>
        </div>
        <div class="col-auto">
          <a href="/" class="btn btn-secondary btn-lg">Add items</a>
        </div>
        <div class="col-auto">
          <a class="btn btn-dark btn-lg" href="/checkout">Checkout</a>
        </div>
      </div>
    {% else %}
      <h5 class="text-secondary mb-2" style="opacity:0.75">Your shopping cart is empty.</h5>
    {% endif %}
  </div>
{% endblock %}

